@model IQueryable<Vehicle>

@inject IUserRepository UserRepository



@{
   ViewData["Title"] = "My Account";
}

<h1 class="text-lg-center"> Welcome to the Vehicle Upgrade Logger! </h1>
<br />
@if (UserRepository.IsUserLoggedIn())@*allows for injection of repository to call methods in view.  AWESOME!*@
{
   <h2> My Garage </h2>
   <table class="table-bordered table-striped">
      <tr>
         <th> Year </th>
         <th> Make </th>
         <th> Model </th>
         <th> Trim </th>
         <th> Mileage </th>
         <th> Purchase Price </th>
         <th> Cost to Date </th>
         <th> Vehicle Details </th>
         <th> Update Service Record </th>
         <th> Edit Vehicle Details</th>
         <th> Delete </th>
      </tr>
      @foreach (Vehicle v in Model)
      {
         <tr>
            <td> @v.Year </td>
            <td> @v.Make </td>
            <td> @v.Model </td>
            <td> @v.Trim </td>
            <td> @v.Mileage </td>
            <td> @v.PurchasePrice.ToString("c2") </td>
            <td>  </td>
            <td>
               <a asp-controller="Vehicle" asp-action="VehicleDetail" asp-route-id="@v.Id"> Details </a>
            </td>
            <td class="bg-success"> </td>
            <td>
               <button class="btn-warning btn-block">
                  <a asp-controller="Vehicle" asp-action="EditVehicle" asp-route-id="@v.Id"> Edit </a>
               </button>
            </td>
            <td>
               <button class="btn-danger">
                  <a asp-controller="Vehicle" asp-action="DeleteVehicle" asp-route-id="@v.Id"> Delete </a>
               </button>
            </td>
         </tr>
      }
   </table>
   <br />

   <button>
      <a asp-controller="Vehicle" asp-action="AddVehicle"> Add a Vehicle </a>
   </button>
}
else
{
<container class="text-center">
   <p>
      <h5>
         If you enjoy saving money handling your own labor and the satisfaction of a job well done at your own hands,
         but maybe just want a way to document what you've done, then this is the website for you.  My name is Matt, 
         and I've spent years working to merge my hobby as a DIY mechanic with technology, to bring you this platform.
      </h5>
   </p>
   <div class="container">
      <img class="img-thumbnail" src="https://drive.google.com/thumbnail?id=1xFDxfUSk-3NSa9Alzp0owvHq52hEbQw6" />
      <img class="img-thumbnail" src="https://drive.google.com/thumbnail?id=1pRZQP-bBKvk55_8D1tgHzi-GadNA7LJx" />
      <img class="img-thumbnail" src="https://drive.google.com/thumbnail?id=1eM7rrP7uRvBmifE3LI8RKhaLnuwnrnwR" />
   </div>
</container>

   <h3 class="text-lg-center"> Login to add or view and add your vehicles </h3>
}






